<a href="https://colab.research.google.com/github/s1ms2l8/Revisao-Python/blob/main/Atividade_Revis%C3%A3o_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade Revisão Aprofundada Python



## *   Responda as Questões.
## *   Crie um Repositório no seu Github e depois copie o link para a Atividade no Moodle.
## *   Valor 1,0 Ponto.
## *   Pode fazer em grupo, mas a entrega é individual.

### Objetivo: Consolidar e expandir o conhecimento, por meio da revisão e aplicação de conceitos básicos e avançados, visando melhorar a compreensão e habilidades na resolução de problemas complexos e na implementação de projetos mais sofisticados.

# Faça o Módulo 1 do curso:
# [Link do Curso](https://skillsforall.com/course/python-essentials-1?userLang=pt-BR&instance_id=a4805395-087f-4467-a163-2c62bcd95764)
# ☝ Pra quem não se inscreveu ainda ☝

# **Primeira Parte: Análise Conceitual do Python**

# **01-)** Em quais áreas (dentro de sistemas de informação) o Python é menos frequente ou praticamente ausente?

> Resposta: aplicativos para dispositivos móveis e programação de baixo nível

# **02-)** Existem dois tipos principais de Python, chamados Python 2 e Python 3. Especifique cada um. E por que essas duas versões são incompátiveis entre si.

> Resposta: python 2 é uma versão antiga, que foi interrompida, apesar de ainda estar recebendo atualizações com fins de segurança, python 3 é a versão atual do python, com seus próprios métodos e propriedades. python 2 e 3 apesar de parecidos não são compatíveis devido a diferenças no código de ambos, são como linguagens irmãs.

#**03-)** O Python é uma linguagem de programação interpretada ou compilada? Como funcionam as linguagens interpretada e compilada ?Quais as diferenças entre essas linguagens?

> Resposta: python é uma linguagem interpretada. Linguagens compiladas são tem seu fonte compilado uma vez, então já pode ser distribuido, linguagens interpretadas são traduzidas para linguagem de máquina por um interpretador na máquina do usuário.

#**04-)** O que é uma Sintaxe no contexto de linguagem de programação? Descreva a Sintaxe do Python.

> Resposta: regras específicas da linguagem para que seja devidamente executado pelo interpretador. a sintaxe do python, não é fortemente tipada, nem possui escopos definidos por nenhum caracter

#**05-)** O que é uma Semântica no contexto de linguagem de programação? Descreva a Semântica do Python.

> Resposta: semântica é se o que é sintaticamete correto tem sentido, ordem no que é escrito. a semântica no python é muito próxima ao inglês, muitas vezes blocos de códigos podem ser lidos como um parágrafo de texto.

#06-) O que é Orientação a Objetos (OOP)?

> Resposta: é um estigma da vida real para programação, representando coisas do mundo real em estâncias de classes chamados objetos.

#**07-)** Por que se fala que Python é uma Linguagem naturalmente Orientada a Objetos (OOP)?

> Resposta: python é uma linguagem que suporte orientação a objetos, ou seja, permite a criação e instanciação de classes.

# **Segunda Parte: Sintaxe**

#**08-)** Python adora Funções (def), exemplo:

In [ ]:
def calcula_area_triangulo(base, altura):
    """ #Comentário de bloco de código 
    Calcula a área de um triângulo com base e altura dadas.

    Argumentos:
    base -- comprimento da base do triângulo 
    altura -- altura do triângulo 

    Retorno:
    Retorna a área do triângulo 
    """
    area = (base * altura) / 2
    return area

# Exemplo de uso da função
base = 5
altura = 10
resultado = calcula_area_triangulo(base, altura) #Passagem de Parâmetro

# Exibe a área de um triângulo utilizando uma f-string formatada para incluir os valores das variáveis base, altura e resultado.
# A f-string permite a inserção de variáveis diretamente no texto usando chaves {}.
print(f"A área de um triângulo com base {base} e altura {altura} é {resultado}.")

A área de um triângulo com base 5 e altura 10 é 25.0.

# Agora crie uma função para calcular a área de uma esfera (se baseie na função acima):
# A fórmula é: A = 4 . π . r²

In [7]:
import math

def calcula_area_esfera(r):
  area = 4 * math.pi * math.pow(r, 2)
  return area

raio = 4
result = calcula_area_esfera(raio)
print(f"a área de uma esfera de raio {raio} é {result}")

a área de uma esfera de raio 4 é 201.06192982974676

## Tipos de dados

Em Python, temos os seguintes tipos de **dados nativos** (também chamados de **embutidos**, do Inglês **built-in**):

|  Categoria |   Nome  |         Descrição        |
|:----------:|:-------:|:------------------------:|
|  Numérica  |   int   |         Inteiros         |
|            |  float  |      Ponto flutuante     |
|            | complex |      Número complexo     |
|            |   bool  | Boolean (True ou false)  |
| Sequencial |   str   |   String de caracteres   |
|            |   list  |           Lista          |
|            |  tuple  |           Tupla          |
|            |  range  |   Intervalo de valores   |
|  Conjunto  |   set   |     Conjunto             |
|            | frozenset |       Conjunto imutável                 |
| Mapeamento |   dict  |     Dicionário           |
| Nula       | NoneType | Valor nulo |

#**09-)** Listas em Python são objetos mutáveis, o que significa que seus elementos podem ser modificados depois que a lista é criada. Exemplo:

In [8]:
# Criação de uma lista com diferentes tipos de dados
frutas = ['maçã', 'banana', 'laranja', 'abacaxi']

# Adiciona um elemento ao final da lista
frutas.append('manga')

# Remove um elemento da lista pelo índice
frutas.pop(3)  # Remove o elemento de índice 3 (número 5)

# Acessa um elemento da lista pelo índice
primeira_fruta = frutas[0]

# Modifica um elemento da lista pelo índice
frutas[1] = 'uva'

# Insere um elemento em uma posição específica da lista
frutas.insert(2, 'abacate')

# Imprime a lista atualizada
print(frutas)

['maçã', 'uva', 'abacate', 'laranja', 'manga']

# Crie uma função para adicionar três frutas na lista a seguir:
### list = [abacate, laranja]
### Utilize: def adicionar_frutas(lista, fruta1, fruta2, fruta3)
### Obs: A lista também deve ser passada como parâmetro

In [13]:
Frutas = ['abacate', 'laranja']

def adicionar_frutas(lista, fruta1, fruta2, fruta3):
  lista.append(fruta1)
  lista.append(fruta2)
  lista.append(fruta3)
  return lista

print(adicionar_frutas(Frutas, '1', '2', '3'))

['abacate', 'laranja', '1', '2', '3']

#**10-)** Sobre o For,  a sintaxe básica é:

In [ ]:
# Lista de frutas
frutas = ['maçã', 'banana', 'laranja', 'abacaxi']

# Loop para exibir cada fruta da lista
for fruta in frutas: #A variável fruta assume o valor de cada elemento da lista a cada iteração do loop
    print(fruta)

maçã
banana
laranja
abacaxi

# Crie um pequeno programa utilizando for para incluir todos os elementos de uma lista em outra:
# Por exemplo:
### frutas = ['maçã', 'banana', 'laranja', 'abacaxi']
### Inclua frutas2 = [Limão, Abacate, Pequi] na lista frutas

In [15]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

for list in lista1:
  lista2.append(list)

print(lista2)

[4, 5, 6, 1, 2, 3]

# **11-)** Exemplo de uso de Dicionário no Python:

In [16]:
# Criando um dicionário
pessoa = {
    "nome": "João",
    "idade": 25,
    "cidade": "São Paulo"
}

# Acessando valores do dicionário
print("Nome:", pessoa["nome"])
print("Idade:", pessoa["idade"])
print("Cidade:", pessoa["cidade"])

# Modificando valores do dicionário
pessoa["idade"] = 26
pessoa["cidade"] = "Rio de Janeiro"

# Exibindo o dicionário atualizado
print("Dicionário atualizado:", pessoa)


# Adicionando um novo elemento ao dicionário
pessoa["profissão"] = "Engenheiro"

# Exibindo o dicionário com o novo elemento
print("Dicionário com novo elemento:", pessoa)

# Removendo um elemento do dicionário
del pessoa["cidade"]

# Exibindo o dicionário sem o elemento removido
print("Dicionário sem elemento removido:", pessoa)

Nome: João
Idade: 25
Cidade: São Paulo
Dicionário atualizado: {'nome': 'João', 'idade': 26, 'cidade': 'Rio de Janeiro'}
Dicionário com novo elemento: {'nome': 'João', 'idade': 26, 'cidade': 'Rio de Janeiro', 'profissão': 'Engenheiro'}
Dicionário sem elemento removido: {'nome': 'João', 'idade': 26, 'profissão': 'Engenheiro'}

# O dicionário é uma estrutura de dados em Python que permite armazenar valores associados a chaves.  Veja o algoritmo a seguir e complete o que se pede:

In [18]:
# Criando um dicionário de estoque de produtos
estoque = {
    "produto1": {
        "nome": "Camiseta",
        "preco": 29.90,
        "quantidade": 50
    },
    "produto2": {
        "nome": "Calça Jeans",
        "preco": 89.90,
        "quantidade": 20
    },
    "produto3": {
        "nome": "Tênis",
        "preco": 129.90,
        "quantidade": 30
    }
}

#Para exibir todo o dicionário:
for produto, dados in estoque.items():# estoque.items(), é um método que acessa tanto a chave como o valor
    print(f"{dados['nome']}: Valor - R$ {dados['preco']} - Quantidade: {dados['quantidade']}")

Camiseta: Valor - R$ 29.9 - Quantidade: 50
Calça Jeans: Valor - R$ 89.9 - Quantidade: 20
Tênis: Valor - R$ 129.9 - Quantidade: 30

In [ ]:
# Para exibir todos os dados de apenas um produto:
print(f"Produto: {estoque['produto1']}")

Produto: {'nome': 'Camiseta', 'preco': 29.9, 'quantidade': 50}

In [ ]:
# Para exibir o nome do produto 1
print(f"Produto: {estoque['produto1']['nome']}")

Produto: Camiseta

# Crie um laço for para exibir todos os produtos e suas quantidades - Sem o valor

In [20]:
for produto, dados in estoque.items():
  print(f"Produto: {produto} / Quantidade: {dados['quantidade']}")

Produto: produto1 / Quantidade: 50
Produto: produto2 / Quantidade: 20
Produto: produto3 / Quantidade: 30

# Crie uma pequena função para exibir um produto com valor e quantidade.
## Exemplo: def exibir_produto(nome_produto):

In [30]:
def exibir_poduto(nome):
  produto = estoque[nome]
  return (f"preco: {produto['preco']} quantidade: {produto['quantidade']}")

print(exibir_poduto('produto2'))

preco: 89.9 quantidade: 20

# **12-)** A função map() é uma função embutida em Python que permite aplicar uma função a cada elemento de um iterável (como uma lista, um dicionário ou uma tupla), retornando um objeto iterável com os resultados do mapeamento. Veja um exemplo abaixo:

In [ ]:
# Lista de números
numeros = [1, 2, 3, 4, 5]

# Função para calcular o quadrado de um número
def quadrado(x):
    return x ** 2

# Aplicação do mapeamento para obter uma nova lista com os quadrados dos números
quadrados = list(map(quadrado, numeros))

# Exibição dos quadrados dos números
print(quadrados)

[1, 4, 9, 16, 25]

# Utilize a função map(), para obter o nome do mês a partir do número do mês:

In [ ]:
# Resposta:

# Lista de números dos meses
meses = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# **Parte 3 - Análise de Dados**

# Criação de dados aleatórios

In [ ]:
import pandas as pd
import numpy as np

# Lista de produtos
produtos = ["Camiseta", "Calça Jeans", "Tênis", "Boné", "Bermuda"]

# Geração de dados aleatórios com numpy
precos = np.random.uniform(low=10, high=100, size=len(produtos)).round(2)
quantidades = np.random.randint(low=1, high=20, size=len(produtos))
totais = precos * quantidades

# Criação do DataFrame
df = pd.DataFrame({"Nome do produto": produtos, "Preço unitário": precos, "Quantidade": quantidades, "Total": totais})

# Exibição do DataFrame
df

  Nome do produto  Preço unitário  Quantidade    Total
0        Camiseta           57.41          18  1033.38
1     Calça Jeans           20.57           9   185.13
2           Tênis           27.76           2    55.52
3            Boné           62.10          10   621.00
4         Bermuda           95.66          11  1052.26

# Principais comandos:

df.describe()  # Estatísticas descritivas das colunas numéricas

df.mean()      # Média das colunas numéricas

df.std()      # Desvio padrão das colunas numéricas

df.min()       # Menor valor de cada coluna

df.max()      # Maior valor de cada coluna

df.idxmin()   # Índice do menor valor de cada coluna

df.idxmax()    # Índice do maior valor de cada coluna

# Utilizando os comandos acima, responda:

In [ ]:
#Exemplo:
# Para analisar o produto com maior valor
df.loc[df["Preço unitário"].idxmax()]

Nome do produto    Bermuda
Preço unitário       95.66
Quantidade              11
Total              1052.26
Name: 4, dtype: object

### a função loc[] do Pandas para obter os dados da linha que contém o maior valor na coluna "Preço unitário" do DataFrame df. A expressão df["Preço unitário"].idxmax() retorna o índice da linha que contém o maior valor na coluna "Preço unitário", que é passado como argumento para a função loc[].

### Então, a linha completa df.loc[df["Preço unitário"].idxmax()] retorna um novo DataFrame que contém apenas a linha com o maior valor na coluna "Preço unitário". Esse novo DataFrame contém todas as colunas do DataFrame original df, ou seja, as colunas "Nome do produto", "Preço unitário", "Quantidade" e "Total".

# **13-)** Qual é o produto com o maior preço unitário?

In [ ]:
# Resposta:

# **14-)** Qual é o produto com o maior total de vendas?

In [ ]:
# Resposta:

# **15-)** Qual é o produto mais vendido?

In [ ]:
# Resposta:

# **16-)** Qual é o total de vendas da loja?

In [ ]:
# Resposta:

# **17-)** Qual é o preço médio dos produtos vendidos?

In [ ]:
# Resposta:

# **18-)** Crie um nova coluna, chamada "total com desconto" e aplique um desconto de 10% do valor total.

In [ ]:
# Resposta:

# Criação de um nova coluna com indicação de produtos em promoção.
# Para isso

In [ ]:
# A função np.where() recebe três argumentos: uma condição booleana, 
# um valor para quando a condição for verdadeira e um valor para quando 
# a condição for falsa.
df["Promoção"] = np.where(df["Preço unitário"] > 50, "Sim", "Não")

In [ ]:
df

  Nome do produto  Preço unitário  Quantidade    Total Promoção
0        Camiseta           57.41          18  1033.38      Sim
1     Calça Jeans           20.57           9   185.13      Não
2           Tênis           27.76           2    55.52      Não
3            Boné           62.10          10   621.00      Sim
4         Bermuda           95.66          11  1052.26      Sim

#**19-)** Crie um gráfico utilizando o seaborn de um gráfico de barras com os totais por produto:

In [ ]:
#Resposta:

import seaborn as sns

#**20-)** Crie um gráfico utilizando o seaborn de um gráfico de barras com os totais por promoção.
# De acordo com o gráfico a seguir:
![image.png]()

In [ ]:
# Resposta

#**21-)** Ao Final crie um arquivo SQL dos dados criados e manipulados em que possa ser carregado pelo Postgree:

In [ ]:
# Resposta